<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= @site_name %> &mdash; Error</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Error: Try again later</h1>
    </body>
</html>