<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= @site_name %> &mdash; <%= @page.title rescue 'Error' %></title>
        <meta charset="utf-8" />
    </head>
    <body>
        <%= yield %>
    </body>
</html>